# Análisis de datos de alquileres en Nueva York

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read in the data
df = pd.read_csv('./ConjuntosDeDatos/AirBnB2clean.csv')

Ahora tengo los datos en df,hago un primer approach de visualización

In [3]:
# shape of df
print(df.shape)

# head of df
print(df.head())

(48895, 16)
      id                                               name  host_id  \
0  20739  Perfect 2-bedroom in the best part of Williams...    24864
1  65164                                    Ditmas park lot    62595
2  23090            Doorman Gym 2 Beds Luxury Building!5211    52328
3  36673       seagate pravite house 5 mins away from beach     3184
4  52600  Sunny & Clean Apt  ideal location E.Williamsburg!    43677

        host_name neighbourhood_group neighbourhood  latitude  longitude  \
0        Angelina            BROOKLYN             -  40.71983  -73.96465
1           Brian            Brooklyn      Flatbush  40.63809  -73.96445
2  Jeremy & Laura           Manhattan   Murray Hill  40.74404  -73.97217
3           Tural            BROOKLYN      Sea Gate  40.57531  -74.00518
4          Shahar            BROOKLYN  Williamsburg  40.70684  -73.93854

         room_type        price  minimum_nights  number_of_reviews  \
0  Entire home/apt        $ 249              30                  0
1     Private room          $60               2                  0
2     Private room  135 Dollars              30                  2
3  Entire home/apt       USD 99               4                  0
4  Entire home/apt          $90               7                  6

  last_review  reviews_per_month  calculated_host_listings_count  \
0         NaN                NaN                               1
1         NaN                NaN                               1
2  2017-03-31               0.07                              96
3         NaN                NaN                               1
4  2019-06-07               0.15                               2

   availability_365
0                 0
1               173
2               303
3                19
4               302

Ya con ver el head hay varios issues:
- Brooklyn aparece en minúscula y en mayúscula. 
- Los precios aparecen como $, Dollars o USD
- Hay datos sin el Neighborhood marcado
- Si no tiene reviews, reviews_per_month es NaN en vez de 0

In [4]:
#list all unique values in the column 'neighbourhood_group'
print(df.neighbourhood_group.unique())

['BROOKLYN' 'Brooklyn' 'Manhattan' 'MANHATTAN' 'BROKLYN/NY' 'QUEENS'
 'Manhattan/NY' 'Broo.' 'Manh.' 'Queens' 'BRONX' 'Bronx' 'Queens/NYC'
 'MANHATAN' 'STATEN ISLAND' 'Staten Island' 'ST. ISL.' 'Staten Isl.']

In [5]:
# 'BROOKLYN' 'Brooklyn' 'BROKLYN/NY' 'Broo.' should be fused
# 'Manhattan' 'MANHATTAN' 'Manhattan/NY' 'Manh.' 'MANHATAN' should be fused
# 'QUEENS' 'Queens' 'Queens/NYC' should be fused
# 'BRONX' 'Bronx' should be fused
# 'STATEN ISLAND' 'Staten Island' 'ST. ISL.' 'Staten Isl.' should be fused

# Replace the values in the column 'neighbourhood_group'
df.neighbourhood_group.replace(['BROOKLYN', 'Brooklyn', 'BROKLYN/NY', 'Broo.'], 'Brooklyn', inplace=True)
df.neighbourhood_group.replace(['Manhattan', 'MANHATTAN', 'Manhattan/NY', 'Manh.', 'MANHATAN'], 'Manhattan', inplace=True)
df.neighbourhood_group.replace(['QUEENS', 'Queens', 'Queens/NYC'], 'Queens', inplace=True)
df.neighbourhood_group.replace(['BRONX', 'Bronx'], 'Bronx', inplace=True)
df.neighbourhood_group.replace(['STATEN ISLAND', 'Staten Island', 'ST. ISL.', 'Staten Isl.'], 'Staten Island', inplace=True)

#list all unique values in the column 'neighbourhood_group'
print(df.neighbourhood_group.unique()) #sanity check

['Brooklyn' 'Manhattan' 'Queens' 'Bronx' 'Staten Island']